:root {
    --system-ui: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Helvetica Neue", Arial, sans-serif;
    /* https://htmlcolorcodes.com/color-chart/web-safe-color-chart/ */
    --primary: #FF5733;
    --secondary: #9999FF;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/color_value */
    --red: hsl(0 100% 50%);
    --orange: hsl(30 100% 50%);
    --yellow: hsl(60 100% 50%);
    --lime: hsl(90 100% 50%);
    --green: hsl(120 100% 50%);
    --mint: hsl(150 100% 50%);
    --aqua: hsl(180 100% 50%);
    --azure: hsl(210 100% 50%);
    --blue: hsl(240 100% 50%);
    --purple: hsl(270 100% 50%);
    --fuchsia: hsl(300 100% 50%);
    --pink: hsl(330 100% 50%);
}

body {
    font-family: var(--system-ui);
    /* box-sizing: border-box; */
    /* position: relative; */
}

a, a:visited {
    color: inherit;
}

header {
    display: flex;
    padding: 1em;
    margin-bottom: 3em;
}

header h1 {
    color: var(--primary);
    font-weight: 700;
    font-stretch: 125%;
    font-size: 3.5em;
    margin: 0;
}

header .right {
    margin-left: auto;
}

header .right h1 {
    font-weight: 400;
    font-stretch: 100%;
}

header p {
    font-size: 1.15em;
    font-weight: 500;
    color: var(--secondary);
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block {
    width: 100px;
    height: 100px;
    margin: 10px;
}

div:nth-child(1 of div.block) {
    background-color: var(--red);
}

div:nth-child(2 of div.block) {
    background-color: var(--orange);
}

div:nth-child(3 of div.block) {
    background-color: var(--yellow);
}

div:nth-child(4 of div.block) {
    background-color: var(--lime);
}

div:nth-child(5 of div.block) {
    background-color: var(--green);
}

div:nth-child(6 of div.block) {
    background-color: var(--mint);
}

div:nth-child(7 of div.block) {
    background-color: var(--aqua);
}

div:nth-child(8 of div.block) {
    background-color: var(--azure);
}

div:nth-child(9 of div.block) {
    background-color: var(--blue);
}

div:nth-child(10 of div.block) {
    background-color: var(--purple);
}

div:nth-child(11 of div.block) {
    background-color: var(--fuchsia);
}

div:nth-child(12 of div.block) {
    background-color: var(--pink);
}