@charset "UTF-8";

@media (width < 900px) {
	img {
		width: 120px;
	}

	.indicator {
		background-color: red;
	}
}

@media (width >= 900px) {
	img {
		width: 230px;
	}

	.indicator {
		background-color: yellow;
	}
}

@media (width >= 1250px) {
	img {
		width: 270px;
	}

	.indicator {
		background-color: green;
	}
}

.container {
	/* color: rgb(255, 217, 0);
	background-color: rgba(53, 53, 53, 1); */
	display: inline-block;
	/* width: 400px; */
	width: calc(calc(100vw - 250px)*0.7);
	/* border: .5px solid rgba(199, 198, 196, .4); */
	/* border-top-left-radius: .3em;
	border-top-right-radius: .3em; */
	/* border-bottom: none; */
	overflow: hidden;
}

h3 {
	font-size: 18px;
}

/* default tab style */
input[type='radio'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;


	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: rgba(157, 157, 157, 1);
	padding: 3px 6px;

	border: .5px solid rgba(199, 198, 196, .4);
	font-size: 14px;

	position: relative;
	top: -1.6px;
	z-index: 2;
	cursor: pointer;
	margin: 0px;
	margin-right: -4.5px;
	margin-bottom: -1.8px;
}

/* tab text from label attribute */
input[type='radio']:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
}

/* active tab style */
input[type='radio']:checked {
	border-bottom-color: transparent;
	color: black;
}

/* applied to all contents containers */
.tab-content {
	/* height: 300px; */
	height: 150px;
	margin: -2px 0px 1px 0px;
	/* top | right | bottom | left */
	justify-content: center;
	/* display = flex when visible */
	align-items: center;
}

/* rules for visible contents */
#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3 {
	display: flex;
}

/* rules for masked content */
#tab1:checked~.tab-content:not(#content1),
#tab2:checked~.tab-content:not(#content2),
#tab3:checked~.tab-content:not(#content3) {
	display: none;
}