@charset "UTF-8";

:root {
	--accent-color: hsl(20, 100%, 50%);
	--text-color: #000000;
	--bg-color: rgba(172, 172, 172, 30%);

	padding: 0;
	margin: 0;

	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 17px;
	background-color: white;
	color: var(--text-color);
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	max-width: 100vw;
}

header {
	margin: 32px;
	margin-top: 16px;
	margin-bottom: 16px;
}

div.two-cols {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

span#name {
	font-size: 1.4rem;
	font-stretch: 125%;
	font-weight: 800;
}

header span.nav:hover {
	color: white;
	background-color: black;
}

header p {
	font-size: 1rem;
	font-weight: 400;
	line-height: 0px;
	font-style: italic;
}

header div.right {
	display: flex;
	flex-direction: column;
	text-align: right;
	gap: 2px;
}

a.nav {
	color: blue;
	background-color: white;
	display: inline-block;
}

a.nav:hover {
	color: white;
	background-color: blue;
	display: inline-block;
}

main {
	/* flex: 0 1 auto; */
	margin: 32px;
	margin-top: 16px;
	margin-bottom: 16px;
}

main > div.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 8%;
}

/* main > div.container > div.right {
	max-width: 600px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	grid-auto-rows: minmax(270px, auto);
	height: fit-content;
} */

/* MEDIA QUERIES NEED TO GO AFTER THE ORIGINAL CODE THEY'RE MODIFYING */
@media only screen and (min-width: 0px) and (max-width: 960px) {
	main > div.container {
		display: block;
	}

	main > div.container > div.left {
		margin-bottom: 32px;
		max-width: 640px
	}

	footer > div.two-cols {
		display: block;
	}
}

div.left > img {
	border: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img {
	max-width: 270px;
	padding: 4px;
	border: 2px blue dashed;
}

img:hover {
	border: 2px red dashed;
}

section {
	line-height: 160%;
}

.break {
	height: 20px;
}

a {
	color: black;
	background-color: var(--bg-color);
}

a:hover {
	color: black;
	background-color: rgb(255, 255, 185);
	/* background-color: var(--accent-color); */
}

section > span {
	font-weight: 500;
	/* color: red; */
}

footer {
	padding: 16px 32px 32px 32px;
	font-size: 16px;
}

footer:hover > span {
	color: white;
	background-color: red;
}