@charset "UTF-8";

:root {
	--accent-color: hsl(20, 100%, 50%);
	--text-color: #000000;
	--bg-color: rgba(172, 172, 172, 30%);

	padding: 0;
	margin: 0;

	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 17px;
	background-color: white;
	color: var(--text-color);
}

html {
	width: 100vw;
	height: 100vh;
}

body {
	margin-left: 125px;
	margin-right: 125px;
	margin-top: 25px;
	margin-bottom: 25px;
	width: calc(100vw - 250);
	height: calc(100vh - 50px);
	float: center;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.left {
	width: calc(calc(100vw - 250px)*0.7);
}

.right {
	width: calc(calc(100vw - 250px)*0.3);
	display: block;
}

header {
	font-size: 1rem;
	font-style: italic;
	font-weight: 400;
}

header>span {
	font-size: 1.4rem;
	font-style: normal;
	font-stretch: 125%;
	font-weight: 800;
	padding-right: 8px;
}

header>span:hover {
	color: white;
	background-color: black;
}

a {
	color: black;
	background-color: var(--bg-color);
}

a:hover {
	color: black;
	background-color: rgb(255, 255, 185);
}

span {
	font-weight: 500;
}

section {
	line-height: 160%;
}

.break {
	height: 20px;
}

.panel {
	float: right;
}

footer {
	flex-shrink: 0;
}

footer>nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer a {
	color: blue;
	background-color: white;
}

footer a:hover {
	color: white;
	background-color: blue;
}

/* .container {
	display: inline-block;
	overflow: hidden;
}

input[type='radio'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	position: relative;
}

input[type='radio']:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
} */

.container {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: rgb(255, 217, 0);
	background-color: rgba(53, 53, 53, 1);
	display: inline-block;
	width: 400px;
	border: .5px solid rgba(199, 198, 196, .4);
	border-top-left-radius: .3em;
	border-top-right-radius: .3em;
	border-bottom: none;
	overflow: hidden;
}

/* default tab style */
input[type='radio'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;

	/* height: auto;
	width: auto; */
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: rgba(157, 157, 157, 1);
	background-color: rgba(54, 54, 52, 1);
	padding: 3px 6px;

	border: .5px solid transparent;
	border-bottom: .5px solid rgba(255, 221, 2, .757);
	border-bottom: .5px solid transparent;
	font-size: 14px;

	position: relative;
	top: -1.6px;
	z-index: 2;
	cursor: pointer;
	margin: 0px;
	margin-right: -4.5px;
	margin-bottom: -1.8px;
}

/* tab text from label attribute */
input[type='radio']:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
}

/* active tab style */
input[type='radio']:checked {
	border: .5px solid rgba(255, 221, 2, .757);
	border-bottom-color: transparent;
	color: rgba(255, 217, 0, 1);
	background-color: rgb(29 29 29);
	border-top-left-radius: .3em;
	border-top-right-radius: .3em;
}

/* applied to all contents containers */
.tab-content {
	height: 300px;
	margin: -2px 0px 1px 0px;
	/* top | right | bottom | left */
	border: .5px solid rgba(255, 221, 2, .757);
	background-color: rgb(29 29 29);
	justify-content: center;
	/* display = flex when visible */
	align-items: center;
}

/* rules for visible contents */
#tab1:checked~#content1,
#tab2:checked~#content2 {
	display: flex;
}

/* rules for masked content */
#tab1:checked~.tab-content:not(#content1),
#tab2:checked~.tab-content:not(#content2) {
	display: none;
}