@charset "UTF-8";

:root {
    --text-color: rgb(30, 30, 30);
    --bg-color: rgb(229, 229, 229);
    --accent: #FD6944;
    --border: rgb(0, 0, 0);
}

* {
    padding: 0;
    margin: 0;
    font-size: 1em;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

span.me {
    font-size: 1.4em;
    font-style: normal;
    font-stretch: 125%;
    font-weight: 800;
    padding-right: 4px;
}

header {
    font-style: italic;
}

/* span.me:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
} */

body {
    margin: 0 auto;
    /* padding: 30px 140px 0 140px; */
    /* padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 3vh; */
}

div.wrapper {
    width: 100vw;
    height: 100vh;
}

header, main {
    padding: 30px 50px 0 50px;
    /* width: 100%;
    height: 100%; */
}

h1 {
    font-size: 1.2em;
    font-weight: 700;
    display: inline;
    margin-right: 5px;
}

h2 {
    margin-top: 50px;
    font-size: 1.5em;
}

h3 {
    font-weight: 400;
    margin-bottom: 30px;
}

p {
    line-height: 1.5em;
    margin-top: 20px;
    display: block;
}

a {
    color: inherit;
}

a:hover,
a:focus {
    color: var(--bg-color);
    background-color: var(--text-color);
}

/* footer {
    text-align: right;
    margin-top: 80px;
    padding-bottom: 20px;
} */

/* NEW STUFF */

div.two-cols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    grid-gap: 4em;
}

div.two-cols>div:nth-child(1) {
    grid-column: span 4;
}

div#intro>p.text>span {
    font-weight: 600;
}

div.two-cols>div:nth-child(2) {
    grid-column: span 7;
}

table {
    table-layout: auto;
    width: 100%;
}

table,
th,
td {
    border: 1px solid var(--border);
}

thead th:nth-child(1) {
    width: 15%;
}

thead th:nth-child(2) {
    width: 25%;
}

thead th:nth-child(3) {
    width: 20%;
}

thead th:nth-child(4) {
    width: 50%;
}

td {
    padding: 4px;
    text-align: center;
    vertical-align: center;
}

td.thumbnail img {
    width: 100%;
    max-width: 360px;
    height: 100%;
    max-height: 360px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

td.thumbnail img:hover {
    transform: scale(2.5) translateX(-1em);
}

td.when {
    font-size: 14px;
}