html,
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

a {
    color: deepskyblue;
    text-decoration: none;
}

a.nav, a:visited {
    color: mediumslateblue;
}

a:hover {
    text-decoration: underline;
}


a.nav {
    font-size: 0.95rem;
    text-transform: uppercase;
    font-weight: 600;
    font-stretch: 150%;
}

a.nav:hover {
    color: rgb(40, 40, 40);
    background-color: mediumslateblue;
    text-decoration: none;
}

.fixed {
    position: fixed;
    bottom: 1.75rem;
    left: 1.25rem;
}

label.fixed {
    left: calc(1.25rem + 28px);
}

hgroup a, hgroup a:visited {
    color: white;
    text-decoration: none;
}

hgroup a:hover {
    text-decoration: none;
}

hgroup a:hover h2 {
    /* color: deepskyblue; */
    text-decoration: underline;
}

hgroup h2 {
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 4px;
    margin-bottom: 0;
}

hgroup p {
    margin-top: 0;
    font-size: 0.9rem;
    font-weight: 200;
    letter-spacing: 0.025rem;
}