html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

header {
    margin: 16px 32px;
}

header.two-cols {
	display: flex;
	flex-direction: row;
    gap: 2.4em;
}

header span {
    font-stretch: 125%;
}

header span#name {
    text-transform: uppercase;
	font-size: 1.4rem;
	font-stretch: 125%;
	font-weight: 800;
}

header div.right {
	display: flex;
    align-items: center;
    gap: 2.4em;
}

main {
    margin: 16px 32px;
}

table {
    margin: 2rem 0;
}

img {
    height: auto;
    width: auto;
}

/* https://hack.wesleyac.com/pokemon.html */
#index tr {
    display: none;
}

#filter-Me:checked ~ #index tr[data-type-primary=Me] { display: table-row; }
#filter-Quilt:checked ~ #index tr[data-type-primary=Quilt] { display: table-row; }
#filter-Dev:checked ~ #index tr[data-type-primary=Dev] { display: table-row; }
#filter-Other:checked ~ #index tr[data-type-primary=Other] { display: table-row; }