@charset "UTF-8";

:root {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/color_value */
    --red: hsl(0 100% 50%);
    --orange: hsl(30 100% 50%);
    --yellow: hsl(60 100% 50%);
    --lime: hsl(90 100% 50%);
    --green: hsl(120 100% 50%);
    --mint: hsl(150 100% 50%);
    --aqua: hsl(180 100% 50%);
    --azure: hsl(210 100% 50%);
    --blue: hsl(240 100% 50%);
    --purple: hsl(270 100% 50%);
    --fuchsia: hsl(300 100% 50%);
    --pink: hsl(330 100% 50%);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding-left: 1em;
    padding-right: 1em; */
    padding-bottom: 5em;
}

h2 {
    font-size: 2em;
    font-weight: 700;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    margin: 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1em;
    padding-right: 1em;
    border-right: 1px solid var(--primary);
}

#work {
    /* display: block; */
    background-color: var(--orange);
    /* padding: 1em; */
    color: white;
}

.block {
    /* width: 100px;
    height: 100px;
    margin: 10px; */
    width: 20em;
    height: 10em;
    margin: 1em;
}

.red {
    background-color: var(--red);
}

.orange {
    background-color: var(--orange);
}

.yellow {
    background-color: var(--yellow);
}

.lime {
    background-color: var(--lime);
}

.green {
    background-color: var(--green);
}

.mint {
    background-color: var(--mint);
}

.aqua {
    background-color: var(--aqua);
}

.azure {
    background-color: var(--azure);
}

.blue {
    background-color: var(--blue);
}

.purple {
    background-color: var(--purple);
}

.fuchsia {
    background-color: var(--fuchsia);
}

.pink {
    background-color: var(--pink);
}

/* div:nth-child(1 of div.block-color) {
    background-color: var(--red);
}

div:nth-child(2 of div.block-color) {
    background-color: var(--orange);
}

div:nth-child(3 of div.block-color) {
    background-color: var(--yellow);
}

div:nth-child(4 of div.block-color) {
    background-color: var(--lime);
}

div:nth-child(5 of div.block-color) {
    background-color: var(--green);
}

div:nth-child(6 of div.block-color) {
    background-color: var(--mint);
}

div:nth-child(7 of div.block-color) {
    background-color: var(--aqua);
}

div:nth-child(8 of div.block-color) {
    background-color: var(--azure);
}

div:nth-child(9 of div.block-color) {
    background-color: var(--blue);
}

div:nth-child(10 of div.block-color) {
    background-color: var(--purple);
}

div:nth-child(11 of div.block-color) {
    background-color: var(--fuchsia);
}

div:nth-child(12 of div.block-color) {
    background-color: var(--pink);
} */

.block-white {
    background-color: white;
}