@charset "UTF-8";

.info-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    /* padding-left: 1em;
    padding-right: 1em; */
}

.info-container h4 {
    margin: 0;
    padding-bottom: 1em;
}

.info-container p {
    margin: 0;
    font-size: 0.9em;
}

.info-container .right {
    text-align: right;
    margin-left: auto;
}

.info-container h2 {
    font-weight: 500;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}