@charset "UTF-8";

:root {
    --system-ui: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Helvetica Neue", Arial, sans-serif;
    /* https://htmlcolorcodes.com/color-chart/web-safe-color-chart/ */
    --primary: #FF5733;
    --secondary: #9999FF;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/color_value */
    --red: hsl(0 100% 50%);
    --orange: hsl(30 100% 50%);
    --yellow: hsl(60 100% 50%);
    --lime: hsl(90 100% 50%);
    --green: hsl(120 100% 50%);
    --mint: hsl(150 100% 50%);
    --aqua: hsl(180 100% 50%);
    --azure: hsl(210 100% 50%);
    --blue: hsl(240 100% 50%);
    --purple: hsl(270 100% 50%);
    --fuchsia: hsl(300 100% 50%);
    --pink: hsl(330 100% 50%);
}

body {
    font-family: var(--system-ui);
    color: var(--primary);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.sidebar {
    display: flex;
    flex-wrap: wrap;
    height: 1em;
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-direction: row; */
    align-items: center;
    margin-right: 1em;
    padding-right: 1em;
    /* border-right: 1px solid var(--primary); */
    /* position: absolute;
    bottom: 0; */
}

main {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#work {
    background-color: var(--orange);
    color: white;
}

#play {
    background-color: var(--primary);
    color: white;
}

#colophon {
    background-color: var(--secondary);
    color: white;
}

a, a:visited {
    color: inherit;
}

h2 {
    font-size: 2em;
    font-weight: 700;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5em;
}

.block {
    width: 20em;
    height: 10em;
    margin: 1em;
}

.red {
    background-color: var(--red);
}

.orange {
    background-color: var(--orange);
}

.yellow {
    background-color: var(--yellow);
}

.lime {
    background-color: var(--lime);
}

.green {
    background-color: var(--green);
}

.mint {
    background-color: var(--mint);
}

.aqua {
    background-color: var(--aqua);
}

.azure {
    background-color: var(--azure);
}

.blue {
    background-color: var(--blue);
}

.purple {
    background-color: var(--purple);
}

.fuchsia {
    background-color: var(--fuchsia);
}

.pink {
    background-color: var(--pink);
}

.block-white {
    background-color: white;
}